<h2>LiveClass</h2>
<div ng-init="loadRow()" class="large-12">
    <form name="form" class="form-horizontal" ng-show="row!=null">

        <div class="row">
            <div class="large-2 columns">
                <label>Id
                    <input name="Id" type="text" ng-model="row.Id" disabled />
                </label>
                <small class="error" ng-show="form.Id.$dirty && form.Id.$invalid">Required Field</small>
            </div>
            <div class="large-10 columns">
                <label>Name
                    <input name="Name" type="text" ng-model="row.Name" required />
                </label>
                <small class="error" ng-show="form.Name.$dirty && form.Name.$invalid">Required Field</small>
            </div>
        </div>

        <div class="row">
            <div class="large-6 columns">
                <label>Url
                    <input name="Url" type="text" ng-model="row.Url" required />
                </label>
                <small class="error" ng-show="form.Url.$dirty && form.Url.$invalid">Required Field</small>
            </div>
            <div class="large-6 columns">
                <label>Chat Url
                    <input name="ChatUrl" type="text" ng-model="row.ChatUrl" required />
                </label>
                <small class="error" ng-show="form.ChatUrl.$dirty && form.ChatUrl.$invalid">Required Field</small>
            </div>
        </div>

        <div class="row">
            <div class="large-6 columns">
                <label>HomeworkUrl
                    <input name="HomeworkUrl" type="text" ng-model="row.HomeworkUrl" required />
                </label>
                <small class="error" ng-show="form.HomeworkUrl.$dirty && form.HomeworkUrl.$invalid">Required Field</small>
            </div>
            <div class="large-6 columns">
                <label>ExtraContentUrl
                    <input name="ExtraContentUrl" type="text" ng-model="row.ExtraContentUrl" required />
                </label>
                <small class="error" ng-show="form.ExtraContentUrl.$dirty && form.ExtraContentUrl.$invalid">Required Field</small>
            </div>
        </div>

        <div class="row">
            <div class="large-6 columns">
                <label>Start
                    <input name="Start" type="datetime-local" ng-model="row.Start" placeholder="yyyy-MM-ddTHH:mm:ss" required />
                </label>
                <small class="error" ng-show="form.Start.$dirty && form.Start.$invalid">Required Date Format</small>
            </div>
            <div class="large-3 columns">
                <label>Duration
                    <input name="Duration" type="text" ng-model="row.Duration" required />
                </label>
                <small class="error" ng-show="form.Duration.$dirty && form.Duration.$invalid">Required Field</small>
            </div>
            <div class="large-3 columns">
                <label>Tag
                    <input name="Tag" type="text" ng-model="row.Tag" required />
                </label>
                <small class="error" ng-show="form.Tag.$dirty && form.Tag.$invalid">Required Field</small>
            </div>
        </div>
        <div class="row">
            <div class="small-6 columns">
                <label>Is Free</label>
                <input type="checkbox" ng-model="row.IsFree" />
                <small class="error" ng-show="form.IsFree.$dirty && form.IsFree.$invalid">Required Field</small>
            </div>
            <div class="small-6 columns">
                <label>Is Trial</label>
                <input type="checkbox" ng-model="row.IsTrial" />
                <small class="error" ng-show="form.IsTrial.$dirty && form.IsTrial.$invalid">Required Field</small>
            </div>
        </div>
        <div class="row">
            <div class="large-4 columns">
                <label>Route
                    <input name="Route" type="text" ng-model="row.Route" required />
                </label>
                <small class="error" ng-show="form.Route.$dirty && form.Route.$invalid">Required Field</small>
            </div>
            <div class="small-10 large-3 columns">
                <label>Teachers</label>
                <div data-ng-repeat="Teacher in row.Teachers">
                    <select ng-model="Teacher.Name" placeholder="Choose a Teacher" class="small-10 columns">
                        <option>{{Teacher.Name}}</option>
                        <option>John Dow</option>
                        <option>Adam Smith</option>
                        <option>Samuel Jackson</option>
                    </select>
                    <div class="small-2 columns">
                        <button class="button radius tiny alert" ng-show="$last" ng-click="removeTeacher()">-</button>
                    </div>
               </div>           
            </div>
            <div class="small-2 large-1 columns">
                <label>&nbsp;</label>
                <button class="button tiny radius" ng-click="addNewTeacher()">+</button>
            </div>
            <div class="small-10 large-3 columns">              
                <label>Disciplines</label>
                <div data-ng-repeat="Discipline in row.Disciplines">
                    <select ng-model="Discipline.Name" placeholder="Choose a Discipline" class="small-10 columns">
                        <option>{{Discipline.Name}}</option>
                        <option>Math</option>
                        <option>English</option>
                        <option>History</option>
                    </select>
                    <div class="small-2 columns">
                        <button class="button radius tiny alert" ng-show="$last" ng-click="removeDiscipline()">-</button>
                    </div>
                </div>
            </div>
            <div class="small-2 large-1 columns">
                <label>&nbsp;</label>
                <button class="button tiny radius" ng-click="addNewDiscipline()">+</button>
            </div>
        </div>

        <div class="row">
            <div class="large-2 columns">
                <a href="#/liveclass" class="button radius left">Voltar</a>
            </div>
            <div class="large-10 columns">
                <button class="button radius alert left" ng-click="delete()">Apagar</button>
                <button type="submit" class="button radius right" ng-click="Update()" ng-Disabled="form.$invalid">Save</button>
                
            </div>
        </div>    
        
    </form>
</div>