<h2>Aulas Ao Vivo</h2>
<div ng-init="loadAll()" class="row">

	<div class="large-12 columns">
		<a href="#/liveclass/create" class="button tiny radius right">Novo</a>
	</div>
	<div class="large-12 columns">
		<table id="tableData" class="table table-bordered table-hover table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Url</th>
					<th>Disciplines</th>
					<th>Teacher</th>
					<th>Start</th>
					<th>Duration</th>
					<th>Options</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in rows | startFrom: currentPage*pageSize| limitTo: pageSize">
					<td>{{row.Id}}</td>
					<td>{{row.Name}}</td>
					<td>{{row.Url}}</td>
					<td>
						<span ng-repeat="Discipline in row.Disciplines">
							{{Discipline.Name}}
						</span>
					</td>
					<td>
						<span ng-repeat="Teacher in row.Teachers">
							{{Teacher.Name}}
						</span>
					</td>
					<td>{{row.Start | date:'dd/MM/yyyy'}}</td>
					<td>{{row.Duration}}</td>
					<td><a href='#/liveclass/edit/{{row.Id}}'>Editar</a></td>
				</tr>
			</tbody>
		</table>
		<div class="pagination-centered">
			<ul class="pagination">
				<li class="arrow" ng-class="{unavailable: currentPage == 0}">
					<button ng-click="currentPage=currentPage-1" ng-disabled="currentPage == 0" >&laquo;</button>
				</li>
				<li ng-repeat="n in range(numberOfPages(rows.length,pageSize))"
                    ng-class="{current: n == currentPage}"
                    ng-click="setPage()">
                    <a href ng-bind="n + 1">1</a>
                </li>
				<li class="arrow" ng-class="{unavailable: currentPage >= numberOfPages(rows.length,pageSize) - 1}">
					<button href ng-click="currentPage=currentPage+1" ng-disabled="currentPage >= numberOfPages(rows.length,pageSize) - 1">&raquo;</button>
				</li>
			</ul>
		</div>
	</div>
</div>
