<h2>Aulas Ao Vivo</h2>
<div ng-init="loadAll()" class="row">

	<div class="large-12 columns">
		<a href="#/liveclass/create" class="button tiny radius right">Novo</a>
	</div>
	<div class="large-12 columns">
		<table id="tableData" class="table table-bordered table-hover table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Url</th>
					<th>Disciplines</th>
					<th>Teacher</th>
					<th>Start</th>
					<th>Duration</th>
					<th>Options</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="row in rows | startFrom: currentPage*pageSize| limitTo: pageSize">
					<td>{{row.Id}}</td>
					<td>{{row.Name}}</td>
					<td>{{row.Url}}</td>
					<td>
						<span ng-repeat="Discipline in row.Disciplines">
							{{Discipline.Name}}
						</span>
					</td>
					<td>
						<span ng-repeat="Teacher in row.Teachers">
							{{Teacher.Name}}
						</span>
					</td>
					<td>{{row.Start | date:'dd/MM/yyyy @ h:mma'}}</td>
					<td>{{row.Duration}}</td>
					<td><a href='#/liveclass/{{row.Id}}'>Editar</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="large-12 columns">
		<button class="button tiny radius left" ng-click="currentPage=currentPage-1" ng-disabled="currentPage == 0" >&larr; Voltar</button>
		<button class="button tiny radius right" ng-click="currentPage=currentPage+1" ng-disabled="currentPage >= rows.length/pageSize - 1">Avançar &rarr;</button>
	</div>
	
</div>
